* {
  margin: 0;
  padding: 0;
}

body {
  -moz-appearance: none;
  -webkit-appearance: none;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url(../fonts/OpenSans-Regular.ttf),
       url(../fonts/OpenSans-Regular.woff),
       url(../fonts/OpenSans-Regular.woff2);
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url(../fonts/OpenSans-Bold.woff),
       url(../fonts/OpenSans-Bold.ttf),
       url(../fonts/OpenSans-Bold.woff2);
}

.title-team {
  font-family: OpenSans-Bold;
  font-size: 20px;
  line-height: 24px;
  color: #0f0d0e;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 40px;
  margin: auto;
  text-align: center;
  padding-top: 60px;
}

.title-team::after {
  content: "";
  position: absolute;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  width: 65px;
  height: 1px;
  border-bottom: solid;
  color: #e1d9bd;
}

/*group*/ .trend_wrapper {
  display: flex;
  position: relative;
  margin-bottom: 40px;
  width: 100%;
}

.trend-label {
   font-family: "OpenSans-Regular", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 30px;
  color: black;
  font-weight: 700;

}

.trend-label:after {
  content: "";
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  display: flex;
  margin-left: 30%;
}

.trend_group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.trend_card {
  display: flex;
  position: relative;
  justify-content: center;
  margin-left: 5px;
  width: 25%;
}



.trend-preview-lifestyle {
  display: flex;
  justify-content: space-around;
  background-size: cover;
  background-image: url("../images/trend1.jpg");
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: center center;
  background-color: #eff6f1;
  position: relative;
  width: 100%;
  height: 320px;

}

.trend-preview-life {
  background-image: url("../images/trend2.jpg");
   display: flex;
  justify-content: space-around;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: center center;
  background-color: #eff6f1;
  position: relative;
  width: 100%;
  height: 320px;

}

.trend-preview-travel {
  background-image: url("../images/trend3.jpg");
  display: flex;
  justify-content: space-around;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: center center;
  background-color: #b59f5b;
  position: relative;
  width: 100%;
  height: 320px;

}

.trend-preview-health {
     background-image: url("../images/trend4.jpg");
     display: flex;
     justify-content: space-around;
     background-repeat: no-repeat;
     background-size: cover;
     -webkit-appearance: none;
     -moz-appearance: none;
     background-position: center center;
     background-color: #b59f5b;
     position: relative;
     width: 100%;
     height: 320px;
}

.trend-preview-lifestyle::before,
.trend-preview-life::before,
.trend-preview-travel::before,
.trend-preview-health::before {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.5;

}

.trend-description {
   position: absolute;
  align-self: flex-end;
  margin-bottom: 20px;
  padding-left: 15px;
  justify-content: center;
  max-width: 90%;
  max-height: 145px;
  border: 3px solid #b59f5b;

}

.trend-type {
  font-weight: 700;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 40px;
  color: #b59f5b;

}

.trend-name {
  font-family: "OpenSans-Regular", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 700;

}

.menu-and-logo {
  width: 100%;
  display: flex;
  padding-top: 45px;
  justify-content: space-around;

}

.header-logo {
  display: block;
  width: 179px;
}

.menu-list {
  display: flex;
  align-items: center;
  vertical-align: center;
  justify-content: center;
}

.menu-list-item {
  list-style-type: none;
}

.menu-list-item:nth-child(n + 1) {
  padding-right: 35px;
}

.menu-link {
  font-size: 13px;
  color: #ffffff;
  font-weight: 400;
  font-family: OpenSans-Regular;
  text-transform: uppercase;
}

.header {
  background-image: url("../images/banner-bg.jpg");
  background-color: #6d6c69;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  z-index: 0;

}

.header::after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
  background-color: #000000;
  opacity: 0.5;
}

.header-container{
    max-width: 120rem;
}

.header-title {
  padding-top: 195px;
  padding-bottom: 145px;
  font-family: OpenSans-Bold;
  text-transform: uppercase;
  font-size: 45px;
  line-height: normal;
  text-align: center;
  color: #ffffff;
}

.main-article-text-list {
  list-style-type: none;
  display: flex;
  padding-bottom: 15px;
}


.main-article-text-list {
  list-style-type: none;
  display: flex;
  padding-bottom: 15px;
}

.main-article-text-link:nth-child(n + 1) {
  padding-right: 20px;
}

.main-article-text-link {
  font-family: OpenSans-Bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  line-height: normal;
  color: #b59f5b;
}
.btn-menu {
  display: none;

}
.burger{
	fill: white;

}


.content {
  /* display: flex; */
  margin: 62px auto;
  /* max-width: 120rem;	 */
}

.content-wrapper {
  /* width: 1200px; */
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;

  display: flex;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .content-wrapper {
    flex-direction: column;
  }
  .main-posts {
    width: 100% !important;
  }
  .aside-posts,
  .aside-post-text {
    width: 100% !important;
  }
}

.main-posts {
  width: 780px;
}

.main-article {
  display: flex;
  /* justify-content: flex-end; */
  /* width: auto;  */
}

.main-article:nth-child(n + 2) {
  /* padding-top: 62px; */
  margin-top: 60px;
}

.main-article-image {
  /* width: 372px; */
  /* padding-right: 30px; */
}

.main-article-text {
  /* width: 378px; */
  /* padding-right: 123px; */
  margin-left: 30px;
}

.main-article-text-list {
  list-style-type: none;
  display: flex;
  padding-bottom: 15px;
}

.main-article-text-link:nth-child(n + 1) {
  padding-right: 20px;
}

.main-article-text-link {
  font-family: OpenSans-Bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  line-height: normal;
  color: #b59f5b;
}

.date-article {
  display: inline-block;
  font-family: OpenSans-Regular;
  font-size: 12px;
  line-height: normal;
  color: #888888;
  padding-right: 13px;
  padding-top: 25px;
}

.author {
  font-family: OpenSans-Bold;
  font-size: 12px;
  line-height: normal;
  color: #000000;
}

.main-article-title-link {
  font-family: OpenSans-Bold;
  font-size: 20px;
  line-height: 24px;
  color: #0f0d0e;
  text-decoration: none;
  text-transform: uppercase;
}

.main-article-main-text {
  font-family: OpenSans-Regular;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  padding-bottom: 22px;
  padding-top: 45px;
}

.main-article-main-text-2para {
  font-family: OpenSans-Regular;
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  padding-bottom: 22px;
}

.aside-posts {
  /* display: flex; */
  /* flex-direction: column; */
  width: 270px;
}

.aside-post {
  display: flex;
  margin: 0 0 20px 0;
}

.aside-post-section-header {
  font-family: OpenSans-Bold;
  font-size: 14px;
  line-height: 29px;
  color: #0f0d0e;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 23px;
  position: relative;
}

.aside-post-section-header::after {
  content: "";
  position: absolute;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  width: 65px;
  height: 1px;
  border-bottom: solid;
  color: #e1d9bd;
}

.aside-post-image {
  width: 70px;
  margin: 0;
}

.aside-post-date {
  font-family: OpenSans-Regular;
  font-size: 12px;
  line-height: normal;
  color: #000000;
}

.aside-post-title {
  font-family: OpenSans-Bold;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  position: relative;
}

.aside-post-text {
  width: 200px;
  margin: 0 20px;
}

.search {
  display: flex;
  margin-top: 62px;
  margin-bottom: 62px;
  width: 100%;
}

.field-search {
  display: inline-block;
  box-sizing: border-box;
  width: 270px;
  height: 48px;
  font-family: OpenSans-Regular;
  background-color: #f4f7f6;
  font-size: 13px;
  border: none;
  padding-left: 18px;
  margin: 0;
  vertical-align: middle;
  position: relative;
}

.button-search::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  background-color: #b59f5b;
  top: 0;
  left: 0;
}

.form-description-text {
  display: block;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.button-search {
  width: 48px;
  height: 48px;
  position: relative;
  border: none;
}

.subscription-group {
  display: flex;
}

.field-sub {
  display: inline-block;
  box-sizing: border-box;
  width: 318px;
  height: 48px;
  border: none;
  padding-left: 18px;
  margin: 0;
  vertical-align: middle;
  font-family: OpenSans-Regular;
  background-color: #f4f7f6;
  font-size: 13px;
}

.button-sub {
  position: absolute;
  display: inline-block;
  width: 318px;
  height: 48px;
  background-color: #b59f5b;
  border: none;
  margin-top: 15px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}

.tags {
  padding-top: 120px;
}

.tag-container {
  display: inline-block;
}

.tags-list-item-link {
  text-decoration: none;
  color: black;
}

.tags-list-item {
  list-style-type: none;
  text-transform: uppercase;
  border: 3px solid #f4f7f6;
  height: 31px;
  width: 87px;
  font-size: 12px;
  line-height: 40px;
  color: #0f0d0e;
  font-weight: 700;
  font-family: OpenSans-Bold;
  display: inline;
  margin-top: 5px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: 6px;
  padding-left: 17px;
  padding-right: 17px;
}

.themes {
  padding-top: 55px;
}

.theme-list-item {
  list-style-type: none;
}

.theme-number {
  font-size: 12px;
  line-height: 36px;
  color: #b59f5b;
  font-weight: 700;
  font-family: OpenSans-Bold;
  vertical-align: top;
  margin-left: 5px;
}

.theme-list-item-link {
  text-decoration: none;
  color: black;
  font-size: 14px;
  line-height: 47px;
  color: #000000;
  font-weight: 700;
  font-family: OpenSans-Bold;
  text-decoration: none;
}

p {
  margin-top: 0;
  line-height: 1.5;
}

p:not(:last-child) {
  margin-bottom: 15px;
}

.products {
  box-sizing: border-box;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 15px;
  margin-top: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  font-family: "Open Sans";
}

.product {
  box-sizing: border-box;
  border: 3px solid #b59f5b;
  font-size: 14px;
  margin-top: 2%;
  font-family: "Open Sans";
  position: relative;
  width: 30%;
}

.product__img {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  position: absolute;
    top: 0;
    left: 0;
    margin-top: -210px;
    margin-left: 4em;
    z-index: -1;
    width: 292px;
    height: 226px;
    margin-bottom: 30px;
}
